$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_mixins.scss";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_normalize.scss";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_glyphicons.scss";

$lighter_text: #EAEBEA;
$light_text: #EDEDED;
$grey_text: #767676;

