---
---
$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_mixins.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_normalize.scss";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_glyphicons.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_tooltip.scss";

@import "/fonts/caviar-dreams-fontfacekit/caviardreams_regular_macroman/stylesheet.css";
@import "/fonts/caviar-dreams-fontfacekit/caviardreams_bold_macroman/stylesheet.css";

$lighter_text: #EAEBEA;
$light_text: #EDEDED;
$grey_text: #767676;

body, html {
  height: 100%;
  font-family: caviar_dreamsregular;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  white-space: nowrap;
  color: $light_text;
  font-family: caviar_dreamsbold;
  font-size: 64px;
  letter-spacing: 0.5em;
  text-shadow: 0px 4px 4px rgba(150, 150, 150, 1);
  margin-bottom: 41px;
  @media (max-width: $screen-sm-min) {
    font-size: 23px;
    margin-bottom: 20px;
    text-shadow: 0px 1px 2px rgba(40, 40, 40, 1);
  }
}

h2, h3, h4, a, i, span {
  color: $lighter_text;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: $lighter_text;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

section {
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
  text-align: center;
  &.large_screen_only {
    @media (max-width: $screen-sm-min) {
      height: auto;
      .centered {
        position: relative;
        height: auto;
        top: 0;
        left: 0;
        @include translate(0, 0);
      }
    }
  }
  .centered {
    width: 75%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%,-50%);
    @media (max-width: $screen-sm-min) {
      height: auto;
    }
  }
}

.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

.bg-gradient {
  position: absolute;
  width: 100%;
  height: 400px;
  @include gradient-vertical(rgba(0,0,0,1), rgba(255,255,255,0));
}

.nav-bar {
  position: absolute;
  z-index: 1;
  @include box-sizing(border-box);
  width: 100%;

  padding: 50px 86px 0 86px;
  font-size: 21px;
  letter-spacing: 8.4px;
  text-align: center;

  @media (max-width: $screen-sm-min) {
    padding: 10px 5px 0 5px;
    font-size: 18px;
    letter-spacing: 7px;
  }

  a {
    display: block;
    float: left;
    width: 33.33%;
  }
}

#main {
  background-image: url("../img/woodshop_background.jpg");
  background-position: center;
  background-size: cover;

  .bg {
    @media (max-width: $screen-sm-min) {
      height: 160%;
    }
  }
  #title {
    position: relative; // needed to keep the logo above the bg-gradient which is absolutely positioned.
    margin: 150px auto;
    .circular-shadow {
      @include box-shadow(0 0 300px 100px #000);
      @media (max-width: $screen-sm-min) {
        @include box-shadow(0 0 50px 25px #000);
      }
      z-index: 5;
      border-radius: 50%;
    }

    img {
      width: 225px;
      height: 225px;
      @media (max-width: $screen-sm-min) {
        width: 180px;
        height: 180px;
      }
    }
    h2 {
      letter-spacing: 11.5px;
      @media (max-width: $screen-sm-min) {
        font-size: 19px;
        letter-spacing: 6px;
      }
    }
    h3 {
      letter-spacing: 4.1px;
      margin-top: 25px;
      line-height: 30px;
      @media (max-width: $screen-sm-min) {
        font-size: 16px;
        letter-spacing: 3px;
      }
    }
  }

  #scroll {
    @media (max-width: $screen-sm-min) {
      bottom: 10px;
    }
    a {
      letter-spacing: 4px;
      font-size: 15.5px;
    }
    span {
      font-size: 17px;
      margin-left: -16px;
    }
  }
}

#our_trade {
  p {
    color: $grey_text;
    max-width: 1144px;
    margin: 0 auto;
    font-size: 24px;
    font-family: serif;
    letter-spacing: 0.025em;
    line-height: 1.9em;
    @media (max-width: $screen-sm-min) {
      font-size: 16px;
    }
    a, a:link, a:visited, a:hover, a:active {
      color: $grey_text;
      text-decoration: underline;
    }
  }

  #spruce_bough {
    @media (max-width: $screen-sm-min) {
      width: 100%;
    }
  }
}

#the_guild {
  .centered {
    width: 90%;
  }
  .bg {
    @media (max-width: $screen-sm-min) {
      top: -50px;
    }
  }
  .headshots {
    .log {
      @media (max-width: $screen-sm-min) {
        display: none;
      }
    }
    text-align: center;
    margin: 0 auto 30px auto;
    li {
      display: inline-block;
      @include size(230px, 230px);
      margin: 20px 30px;
      position: relative;
      .circle {
        position: absolute;
        @include box-shadow(inset 0 0 20px #fff);
        @include size(230px, 230px);
        z-index: 5;
        border-radius: 50%;
        top: 0;
        left: 0;
      }
      img {
        position: relative;
        @include size(230px, 230px);
        @inculde box-shadow(0px 8px 5px 0px rgba(50, 50, 50, 0.73));
        border-radius: 50%;
        z-index: 3;
        top: 0;
        left: 0;
       }
     }
  }
}

.touch #the_guild .headshots li {
  height: 270px;
  .head-title {
    width: 100%;
    left: 0;
    color: black;
  }
}

#lets_chat {
  h1 { margin-bottom: 15px; }
  form {
    width: 64%;
    @media (max-width: $screen-sm-min) {
      width: 90%;
    }
    margin: 0 auto;
    input, textarea {
      width: 100%;
      height: 30px;
      padding-left: 15px;
      margin-left: -15px;
      letter-spacing: 8px;
      font-size: 19px;
      @media (max-width: $screen-sm-min) {
        letter-spacing: 1px;
        font-size: 14px;
      }
      margin-bottom: 15px;
      border: 1px solid #969696;
      color: #555;
      background-color: rgba(255, 255, 255, 0.75);
    }
    input[type='submit'] {
      width: 136px;
      background-color: white;
      border: 1px solid #969696;
      color: #555;
    }
    textarea {
      height: 135px;
    }
  }

  #near-cone {
    position: absolute;
    z-index: -1;
    bottom: -30px;
    right: -123px;
    width: 501px;
    height: 687px;
    @media (max-width: $screen-sm-min) {
      display: none !important;
    }
  }
  #mid-cone {
    position: absolute;
    z-index: -2;
    bottom: 39px;
    left: -39px;
    width: 321px;
    height: 435px;
  }
  #far-cone {
    position: absolute;
    z-index: -3;
    bottom: -6%;
    left: 31%;
    width: 126px;
    height: 164px;
    @media (max-width: $screen-sm-min) {
      display: none !important;
    }
  }
  .footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    @media (max-width: $screen-sm-min) {
      position: relative;
    }
    #contact-info {
      margin: 0 auto;
      width: 70%;
      li {
        @include box-sizing(border-box);
        float: left;
        width: 33.3%;
        border-left: 1px solid #555555;
        color: $grey_text;
        a { color: $grey_text; }
        @media (max-width: $screen-sm-min) {
          float: none;
          width: auto;
          border: none;
          margin-top: 5px;
        }
        &:first-of-type {
          border: none;
        }
      }
    }
  }
}
