body {
  background-image: url('/img/graph_paper_tile.png');
  font-family: Helvetica, Arial;
  font-size: 16px;
  padding: 25px;
}

header {
  background-image: url(/img/tree_logo.png);
  background-repeat: no-repeat;
  background-position: right top;
  text-align: right;
  margin-right: 10px;
  height: 100px;
}

header h1 {
  font-size: 50px;
  padding-top: 18px;
  margin: 0 58px -8px 0;
}

header h1 a, header h1 a:visited {
  color: black;
  text-decoration: none;
}

a {
  color: #888;
}

a:visited, a:hover {
  color: #333;
}

header p {
  margin: 0;
  margin-right: 42px;
}


div#wrapper {
  padding: 20px;
  background: #eee;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  min-height: 500px;
  box-shadow: 0 0 30px #888;
}

div[role=main] {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

