<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/libs/modernizr-2.7.1.min.js"></script>
</head>
<body id="{{ page.title }}">
  <div id="wrapper">
    <header>
      <name><a href="/">Jackpine</a></name>
      <p>
        technical mentoring for scientists.
      </p>
    </header>
    <div role="main">
      {{ content }}
    </div>
  </div>
  <footer>
    <a name="contact">→</a>
    We are human, contact us:
    <span class="contact">
      <a href="mailto:info@jackpine.me?subject=jackpine%20info">info@jackpine.me</a> | 
      <a href="tel:+15707959038">1.570.795.9038</a> |
      <a href="http://twitter.com/jackpinescience">@jackpinescience</a>
    </span> 
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.10.2.min.js"><\/script>')</script>

  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>

  <!-- Asynchronous Google Analytics snippet. -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32997565-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
