<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
      // Prevents progressive scan image loading which looks cheap.
      background_small_img_preload = new Image();
      background_small_img_preload.src = 'img/woodshop_background_small.jpg';
      logo_img_preload = new Image();
      logo_img_preload.src = 'img/jackpine_logo.png';
      background_img_preload = new Image();
      background_img_preload.src = 'img/woodshop_background.jpg';
    </script>
    <link rel="stylesheet" href="/css/frontpage.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/js/libs/modernizr-2.7.1.min.js"></script>
</head>
<body id="{{ page.title }}">
  {{ content }}

  <script src="/js/main.js"></script>

  <!-- Asynchronous Google Analytics snippet. -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32997565-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
